{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block body %}
 <div  class="p-5  bg-light rounded-3">
      <div class="container-fluid ">
        <h1  class="display-5 fw-bold">About Us</h1>
          <h3 class="text-muted ">I am Python Developer, Full Stack Developer, APP Developer and</h3>
          <h3 class="text-muted">UI/UX Designer Based in Rajasthan, India.</h3>
          <h3 class="text-muted">This website is created by using Machine Learning Libraries.</h3>
        <p  class="col-12 fs-4">I enjoy taking complex problems and turning them into simple and
        user-friendly interface whether it is front end development or backend development. I also
            love the logic of coding and always strive to write elegant and efficient code,
            whether it be HTML, CSS, PYTHON and JAVASCRIPT.<br>
            Lets, Talk about website, All the data shown in website is the most recent data updated by <span style="color:red;">World Bank</span>, the website is designed in such a way that everyone can understand, you just need to click the country on graph and you will gets its GDP and more details if available, Understanding Graphs is much more easier and comfortable.<br>
            Enjoy this website by exploring it and wait for future updates...</p>
          <h1 style="text-align:center;  margin-top:25px;" >Follow me on</h1>
          <div style="display: flex; justify-content:center;" class="ic">

        <a style="margin-right:20px;" href="https://github.com/Vs153698" target=" _blank"><i style="color:black; font-size:1.9rem;" class="fab fa-github"></i></a>
        <a style="margin-right:20px;" href="https://twitter.com/vs153698" target=" _blank"><i style="color:blue; font-size:1.9rem;" class="fab fa-twitter"></i></a>
        <a style="margin-right:20px;" href="https://www.instagram.com/iam___vaibhav/" target=" _blank"><i style="color:red; font-size:1.9rem;" class="fab fa-instagram"></i></a>
        <a href="https://dribbble.com/vs153698" target=" _blank"><i style="color:darkred; font-size:1.9rem;" class="fas fa-basketball-ball"></i></a>
          </div>
          </div>
    </div>
{% endblock %}